Options -Indexes
Options -MultiViews

DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.php -f
  RewriteRule ^(.+?)/?$ $1.php [L]
</IfModule>

AddType application/vnd.android.package-archive .apk

<IfModule mod_headers.c>
  <FilesMatch "\.apk$">
    Header set Content-Disposition "attachment"
    Header set X-Content-Type-Options "nosniff"
  </FilesMatch>
</IfModule>
